body {
    background: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#profile-img {
    width: 200px;
    height: auto;
    margin: 20px auto;
    margin-top: 20px;
    border-radius: 20px;
}

#projects {
    margin: 0 auto;
}

div.content-row {
    margin: 0 auto;
    /* height: 100%; */
}

/* div.container {
    height: 100%;
} */

li.nav-li {
    margin: 0 15px;
}

li.nav-li2 {
    color: black;
    margin: 0 15px;
}

p.paragraph {
    text-align: left
}

i.icon {
    text-align: center;
    background-color: blanchedalmond;
    margin: 0 15px;
    color: blue;
}

h3 {
    font-size: 1.5rem;
}

img.arrow {
    float: right;
    max-width: 50%;
    margin: 20px;
}

.logo {
    width: 20px;
    float: left;
    margin-bottom: 20px;
}