body {
    height: 100vh;
    background: rgb(158, 153, 151);
    /* background: url("./images/pc.jpg"); */
    background-size: 100%;
    background-repeat: no-repeat;
}

div.background {
    position: absolute;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#profile-img {
    width: 200px;
    height: auto;
    margin: 20px auto;
    margin-top: 20px;
    border-radius: 20px;
}

#projects {
    margin: 0 auto;
}

div.content-row {
    margin: 0 auto;
    height: 100vh;
    position: relative;

}

div.center {
    position: relative;
}

li.nav-li {
    margin: 0 15px;
}

div.nav-row {
    position: absolute;
    background: none;
}

li.nav-li2 {
    color: black;
    margin: 0 15px;
}

p.paragraph {
    text-align: left
}

i.icon {
    text-align: center;
    background-color: blanchedalmond;
    margin: 0 15px;
    color: blue;
}

h3 {
    font-size: 1.5rem;
}

.logo {
    width: 20px;
    float: left;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    /* border: 3px solid black; */
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    top: 30;
    width: max-content;
}