body {
    /* background: rgb(158, 153, 151); */
    background: url("./images/pc.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: 'Be Vietnam', sans-serif;


}

img {
    max-width: 100%;
    max-height: 100%;
}

p.paragraph {
    margin: 0;
    padding: 10%;
    font-family: 'Montserrat', sans-serif;
}

#profile-img {
    width: 200px;
    height: auto;
    margin: 20px auto;
    margin-top: 20px;
    border-radius: 20px;
}

span.nav-li {
    margin: 15px 15px;
    margin-top: 30px;
    padding: 10px;
    font-size: 1rem;
    color: rgb(111, 84, 84);
    border-radius: 30px;
}

li.nav-li2 {
    color: black;
    margin: 0 15px;
}

div.home {
    margin-bottom: 50%;
    min-height: 100vh;
}


div.paragraph {
    padding: 10px;
    background-color: white;
    width: 100%;
    color: white;
}

h3 {
    font-size: 1.5rem;
}

.logo {
    width: 20px;
    float: left;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 5% auto 0 auto;
    font-size: 3rem;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: left;
    color: #355E82;
    margin-bottom: 4rem;
}

#projects-headline2 {
    margin-top: 5rem;
}

.nav {
    width: 100%;
    margin-top: 30px;
    white-space: nowrap;
    position: fixed;
}

div.icons {
    font-size: 2rem !important;
    margin-top: 7px
}

div.page-footer {
    width: 100%;
}

div.container {
    width: 100%;
}


div.technology-div {
    background-color: white;
    z-index: -1;
    height: 100%;
    overflow: hidden;
}

div.projects-div {
    background-color: #DFE9F3;
    /* margin-bottom: 100px; */
    height: fit-content;
    margin: 0;
}

div.story-div {
    text-align: left;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #355E82;
    color: white;
    margin: 0;
    width: 100% !important;
    z-index: 2;
}

#coding {
    width: 100% !important;
    float: initial;
    font-size: 1rem;
    margin: 0;
}

h2.skills-h2 {
    float: left;
}

h2.white-h2 {
    color: white;
}

div.content-row {
    min-height: 100vh;
    margin: 0;
    width: 100%;
    padding: 5rem 10% 5rem 10%;
}

div.top-row {
    min-height: max-content;
}

h2 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Jomolhari', serif;
    font-size: 2.5rem;
    color: #355E82;
    margin: 0rem 0 5rem 0;
}

.skill-icons {
    margin: 10px 0;
    font-size: 2.3rem !important;
    height: max-content;
}

/* .side-icons {
    font-size: 2rem !important;
    margin-right: 5px;
    z-index: 2;
    color: #355E82;
    opacity: 0.8;
} */
.top-nav-change{
    width: 100%;
    margin-top: 0px;
    padding: 10px;
    white-space: nowrap;
    position: fixed;
    background-color: #DFE9F3;

}

.skill-list {
    margin: 0 40px !important;
}

.skill-list2 {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 70px !important;
}

.card {
    max-height: fit-content !important;
}

div.footer {
    background: #355E82;
    min-height: max-content;
    padding: 2% 5% 0 5%;
}

h6 {
    margin-top: 15vh;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #557B9D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img.footer-icon {
    margin: 20px;
    width: 3rem;
}

#headline2 {
    text-align: center;
}

#side-nav {
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 10px;
    background-color: white;
    opacity: 0.5;
}

i.fa-html52 {
    color: red
}

i.fa-css3-alt2 {
    color: palevioletred;
}

i.fa-bootstrap2 {
    color: purple;
}

i.fa-js2 {
    color: rgb(242, 223, 19);
}

i.fa-node-js2 {
    color: green;
}

i.fa-react2 {
    color: blue;
}


@media screen and (max-width: 768px) {
    div.technology-div {
        height: max-content;
    }

    .skill-list2 {
        margin: 0 30px !important;
        white-space: nowrap;
    }

    #side-nav {
        position: fixed;
        right: 0px;
        top: 0px;
        margin: 0px;
    }

    span.nav-li {
        margin: 0;
    }
}